@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

@model SeafoodCod.Models.Marketing



<div class="padding-huge"></div>
<h3>SON OF COD SEAFOOD, NATURAL, SUSTAINABLE. IT’S THE CONSUMER’S PREFERENCE.</h3>
<p>
    For the best service and fast delivery let us provide you what you need. We will ship
    to your company free of charge and we gurantee that you will be satisfied.
</p>
<br />
<img class="img" src="http://i.justcooking.in/media/salmonsteak.jpg" alt="fish steak" />

@Html.ActionLink("Return Home", "Index", "Account", null, new { @class = "demos-item" })











