@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SeafoodCod.Models.Marketing


<div class="padding-huge"></div>
<h1>SEAFOODCOD</h1>



@Html.ActionLink("Marketing", "Marketing", "MarketingEdit")






