body {
    background-color:#2a2e39;
}

h3 {
    font-family:"Playfair Display", Georgia, serif;
    color:white;
    font-size:25px;
}
p {
     font-family:"Playfair Display", Georgia, serif;
    color:white;

}

.demos-item {

}
