@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h1>Sign up to our Newsletter to keep up to date, @User.Identity.Name</h1>
<hr />

@Html.ActionLink("Create new", "Create")