@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SeafoodCod.Models.Newsletter>

<section class="items-wrap">
<h1>Newsletter mailing list</h1>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listNewsletter in Model)
        {
            <li>@Html.DisplayFor(modelNewsletter => listNewsletter.Email)</li>
            <li>@Html.DisplayFor(modelNewsletter => listNewsletter.Country)</li>

        }
    </ul>
}
else
{
    <p>Please Sign up to our Newsletter</p>
}
   </section>



@Html.ActionLink("NEWSLETTER SIGN UP", "Create", "Newsletter")