<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="Codrops" />
    <link href="https://fonts.googleapis.com/family=Roboto:400,300,600,400italic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet5.css" />
</head>
<body>
    <div class="containerN">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h4 class="navbar-brand banner-name"></h4>
                    </div>
                    <br />
                    <h1 class="htitle">SeafoodCod Marketing </h1>
                    <h3 class="lin C"><a class="glyphicon glyphicon-film" href="/Account/Index">Home</a></h3>
                </div>
            </nav>
        </header>
    </div>
    <footer>
        <hr>
        <nav class="nav navbar-nav">
            <h4 class="lin"><a class="glyphicon glyphicon-home" href="/"></a></h4>
            <h4 class="lin"></h4>
        </nav>

    </footer>

    <div>
        @RenderBody()
    </div>
</body>
</html>