@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="items-wrap">
    <a href="#" class="item">
        <img class="item__image" src="http://www.seductionmeals.com/All%20Recipes%20Cioppino.jpg"/>
        <h2 class="item__title">Magnificence</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="https://assets.lovelycorral.com/uploads/journal/unusual-seafood-dishes.jpg"/>
        <h2 class="item__title">Electrifying</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://chefkimskitchen.com/wp-content/uploads/2013/05/SeafoodBig.jpg"/>
        <h2 class="item__title">Dynamic</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://del.h-cdn.co/assets/cm/15/10/54f6af43c12c1_-_shrimp-lemon-oil-lg.jpg" />
        <h2 class="item__title">Crucial</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://i.ndtvimg.com/i/2016-03/fish-banana-leaf-625_625x350_61457506834.jpg" />
        <h2 class="item__title">Awe-inspiring</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://media.travel-beauty-health.com/resize_580x1100/news/2016/08/22/seafood-dishes-instagram-7.jpg" />
        <h2 class="item__title">Serene</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://www.seattlemag.com/sites/default/files/newfiles/0616_seafood_dishesloki.jpg" />
        <h2 class="item__title">Vulnerable</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://media.travel-beauty-health.com/resize_580x1100/news/2016/08/22/seafood-dishes-instagram-2.jpg" />
        <h2 class="item__title">Bountiful</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://del.h-cdn.co/assets/cm/15/10/54f9d10bc6e91_-_fish-steaks-grilled-fennel-xl.jpg" />
        <h2 class="item__title">Endangered</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://restaurant-hospitality.com/site-files/restaurant-hospitality.com/files/imagecache/large_img/uploads/2014/06/balzanopromo.jpg" />
        <h2 class="item__title">Beautiful</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="http://www.jacksonhole.com/blog/wp-content/uploads/Couloir-Restaurant-Fish-Entree.jpg" />
        <h2 class="item__title">Inspiring</h2>
    </a>
    <a href="#" class="item">
        <img class="item__image" src="https://farm1.staticflickr.com/379/19030088294_9ba65656c1_z.jpg" />
        <h2 class="item__title">Refreshing</h2>
    </a>
</section>


